<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>

  <h2>Account summary for month of march</h2>

  <div class="monthSummary">
    <p>Total Amount Credited: {{amountCredited}} euro</p>
    <p>Toatal Amount Debited: {{amountDebited}} euro</p>
    <p>Final Balance : {{finalBalance}} euro</p>
  </div>

  <div id="tnsList" class="container-fluid">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let tns of transactions" style="text-align: left">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Choose A Tag</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" *ngFor="let purpose of paymentPurposes" 
            (click)="updateTagsOnTransactionOfSimilarCounterParty(tns, purpose)">{{purpose}}</button>
          </div>
        </div>
        {{ tns.NameCounterParty }} {{ tns.Description}}
        <button class="btn btn-primary" (click)="removeTag(tns)">{{ tns.tag }}</button>
      </li>
    </ul>
  </div>